[app]
name=sloth
debug=false
[gin]
mode=release
address=0.0.0.0
port=9288
[core]
bucket_size=3
bucket_name=dq_bucket_%d
queue_name=dq_queue_%s
queue_block_timeout=178
[log]
format="string"
access_log="stdout"
;access_log="/tmp/sloth_access.log"
access_level="debug"
error_log="stderr"
;error_log="/tmp/sloth_error.log"
error_level="error"
log_dir="sloth_log"
log_level="debug"
[zap]
dir=/tmp/sloth/
max_size=1
max_backups=10
max_age=90
compress=false
[redis]
host="127.0.0.1"
port="6379"
password="123456"
db=0
connect_timeout=5000
read_timeout=180000
write_timeout=3000
[ding_talk]
base_url=https://oapi.dingtalk.com/robot/send?access_token=
access_token="a8f8808cda42c7ee085eb8f4b4e9cb17419f201dddc6cd030f6bd4112e2f22d6"
switch_on=true
[consumer_queue]
host="127.0.0.1"
port="6379"
password=""
queue_name="sloth_consumer"